body{	
	background:url('../img/az_subtle.png');	
}

.row{margin:0 auto;}

/* LAYOUT ********************************************************************************/

.header{	
	height:79px;				
	color:#31333B;
	padding:5px 10px;
	float:left;
	width:100%;
	display:block;
	margin:0;	
}

#header_left{
	float:left;	
	width:23.5%;	
	background:url('../img/header_left_bg.jpg') repeat-x;	
}

#header_left p{
	margin:10px 0 0 0;
	font-size:16px;
}

#header_right{
	float:right;		
	width:76.5%;	
	background:url('../img/header_right_bg.jpg') repeat-x;	
}

#header_right p{
	margin:15px 10px 0 0;
	color:#31343B;
}

#header_right p a{
	color:#31343B;
}

#sidebar{		
	background:#373942;	
	color:#FFFFFF;
	padding:10px !important;	
}

.wrapper_content{
	background:#E4E6E8;
	display:table;
	width:100%;
}

#content{
	padding:10px !important;
	margin:0px 0 0 10px !important;
}

#footer{
	text-align:center;
	background:#334455;
	height:30px;				
	color:#FFFFFF;
	padding:2px 0;		
	font-size:12px;
}

/* HEADER ********************************************************************************/
#header a{
	color:#FFFFFF;
	font-weight:bold;
}


/* SIDEBAR ********************************************************************************/
#sidebar a{
	color:#FFFFFF !important;
	padding:5px 15px;
	margin:0 -10px;
}

#sidebar a:hover{
	color: #75C8FF !important;
	
}

.sidebar_menu_block{	
	padding:5px 10px;
	margin:0 0 10px 0;
}

.sidebar_menu_child{
	display:none;
	margin:0 0 0 40px;
	font-size:14px;
}

.sidebar_menu_child a{
	padding:0 !important;
}

.sidebar_menu_block a{
	display:block;
	padding:5px 0;
}

.sidebar_menu_close:after{
	content: "\E761";
    float: right;
    font-family: "entypo";
    margin-right: -10px;
    text-align: center;
    width: 20px;
}

.sidebar_menu_open:after{
	content: "\E760";
    float: right;
    font-family: "entypo";
    margin-right: -10px;
    text-align: center;
    width: 20px;
}

/* CONTENT ********************************************************************************/
.box_dashboard_big p{
	color:#FFFFFF;
	font-size:25px;
	text-align:center;	
	line-height:1em;
}

.box_dashboard{
	border:5px solid #DBDBDB;		
	width:100%;
	clear:both;
	display:box;
	float:left;
	padding:15px;
}

.box_dashboard p{
	line-height:1.2em;
	padding:10px;	
}

.box_blue{
	background:#0072C6;	
}

.box_cyan{
	background:#4DBA9C;
}

.box_red{
	background:#E65B54;
}

.box_gray{	
	background:#F9F9F9;
	/*box-shadow: 0 2px 0 #EAEAEA;  */
}

.box_corner{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#content h2{
	font-size:16px;
	font-weight:bold;
}

/* MISC ********************************************************************************/
.picker select {
	width:145% !important;
	margin: 0 !important;
}

.clear{
	clear:both;
	margin:25px 0;
}

.sidebar_divider{
	clear:both;
	margin:10px 10px;	
	border-top: 1px solid #27282D;
    box-shadow: 0 1px 0 #43464F;    	
}

.divider{
	clear:both;
	margin:10px 0;	
	border-top: 1px solid #E5E5E5;
    box-shadow: 0 1px 0 #FFFFFF;    	
}

a:hover{
	color: #75C8FF !important;
}

.btn_full{
	width:100%;
	font-weight:bold !important;
}