#wrapper{
	margin:200px auto;
}

#login{
	width:40%;
	background:#D6D6D6;
	padding:30px;
}

.btn_color_white{
	color:#FFFFFF;
	cursor:pointer;
}


.box_corner{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.alert p{
	margin:0;
}

.alert{
	padding:10px 0;
}