

{BEGIN container_0}
<table class="runner-c runner-c-0" cellpadding="0" >
<tr class="{$cheaderclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-detailspreviewheader" {$brickclass_detailspreviewheader}><span>Equipment Uses
</span></td>


<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_0}



{BEGIN container_0}
<table class="runner-c runner-c-0" cellpadding="0" >
<tr class="{$cheaderclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-detailspreviewdetailsfount" {$brickclass_detailspreviewdetailsfount}><span>Details found: <strong>{$row_count}.</strong>
</span></td>



{BEGIN display_first}
<td  class="runner-cc runner-bl runner-b-detailspreviewdispfirst" {$brickclass_detailspreviewdispfirst}><span>Displaying first: <strong>{$display_count}</strong>.
</span></td>
{END display_first}

<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_0}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table cellpadding="1" cellspacing="1" class="runner-detailtable">
	<tr>
		<td><strong>Trx Id</strong></td>
		<td><strong>Gkey</strong></td>
		<td><strong>Eq Nbr</strong></td>
		<td><strong>Line Id</strong></td>
		<td><strong>Depo Id</strong></td>
		<td><strong>Shipping Agents Id</strong></td>
		<td><strong>Shipping Agent Name</strong></td>
		<td><strong>Creator</strong></td>
		<td><strong>Created</strong></td>
		<td><strong>Port Of Origin</strong></td>
		<td><strong>Consignee</strong></td>
		<td><strong>Port Of Destination</strong></td>
		<td><strong>Bl Nbr</strong></td>
		<td><strong>Category</strong></td>
		<td><strong>Document Verfied</strong></td>
		<td><strong>Survey Pos Id</strong></td>
		<td><strong>Ctr Position</strong></td>
		<td><strong>Iso Code</strong></td>
		<td><strong>Eq Size</strong></td>
		<td><strong>Eq Type</strong></td>
		<td><strong>Shipping Line Name</strong></td>
		<td><strong>Tare Weight Unit</strong></td>
		<td><strong>Payment Release</strong></td>
	</tr>
	{BEGIN details_row}
	<tr>
		<td>{$trx_id_value}</td>
		<td>{$gkey_value}</td>
		<td>{$eq_nbr_value}</td>
		<td>{$line_id_value}</td>
		<td>{$depo_id_value}</td>
		<td>{$shipping_agents_id_value}</td>
		<td>{$shipping_agent_name_value}</td>
		<td>{$creator_value}</td>
		<td>{$created_value}</td>
		<td>{$port_of_origin_value}</td>
		<td>{$consignee_value}</td>
		<td>{$port_of_destination_value}</td>
		<td>{$bl_nbr_value}</td>
		<td>{$category_value}</td>
		<td>{$document_verfied_value}</td>
		<td>{$survey_pos_id_value}</td>
		<td>{$ctr_position_value}</td>
		<td>{$iso_code_value}</td>
		<td>{$eq_size_value}</td>
		<td>{$eq_type_value}</td>
		<td>{$shipping_line_name_value}</td>
		<td>{$tare_weight_unit_value}</td>
		<td>{$payment_release_value}</td>
	</tr>
{END details_row}
</table>

{END details_data}



{END container_detailspreviewgrid}

