<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" {$all_checkbox}>{BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" {$any_checkbox}>{BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_trx_id}
			<a href="#" id="addSearchControl_trx_id" class="addSearchControl" {$addSearchControl_trx_id_attrs}>Trx Id</a><br>
		{END addSearch_trx_id}
		{BEGIN addSearch_depo_id}
			<a href="#" id="addSearchControl_depo_id" class="addSearchControl" {$addSearchControl_depo_id_attrs}>Depo Id</a><br>
		{END addSearch_depo_id}
		{BEGIN addSearch_trx_type_id}
			<a href="#" id="addSearchControl_trx_type_id" class="addSearchControl" {$addSearchControl_trx_type_id_attrs}>Trx Type Id</a><br>
		{END addSearch_trx_type_id}
		{BEGIN addSearch_doc_number}
			<a href="#" id="addSearchControl_doc_number" class="addSearchControl" {$addSearchControl_doc_number_attrs}>Doc Number</a><br>
		{END addSearch_doc_number}
		{BEGIN addSearch_vessel_name}
			<a href="#" id="addSearchControl_vessel_name" class="addSearchControl" {$addSearchControl_vessel_name_attrs}>Vessel Name</a><br>
		{END addSearch_vessel_name}
		{BEGIN addSearch_vessel_voyage_id}
			<a href="#" id="addSearchControl_vessel_voyage_id" class="addSearchControl" {$addSearchControl_vessel_voyage_id_attrs}>Vessel Voyage Id</a><br>
		{END addSearch_vessel_voyage_id}
		{BEGIN addSearch_vessel_id}
			<a href="#" id="addSearchControl_vessel_id" class="addSearchControl" {$addSearchControl_vessel_id_attrs}>Vessel Id</a><br>
		{END addSearch_vessel_id}
		{BEGIN addSearch_customer_name}
			<a href="#" id="addSearchControl_customer_name" class="addSearchControl" {$addSearchControl_customer_name_attrs}>Customer Name</a><br>
		{END addSearch_customer_name}
		{BEGIN addSearch_shipping_agent_id}
			<a href="#" id="addSearchControl_shipping_agent_id" class="addSearchControl" {$addSearchControl_shipping_agent_id_attrs}>Shipping Agent Id</a><br>
		{END addSearch_shipping_agent_id}
		{BEGIN addSearch_shipping_agent_name}
			<a href="#" id="addSearchControl_shipping_agent_name" class="addSearchControl" {$addSearchControl_shipping_agent_name_attrs}>Shipping Agent Name</a><br>
		{END addSearch_shipping_agent_name}
	</div>
	
	<table class="controlsBlock">
	{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">{$searchtype} {$searchcontrol} {$searchcontrol1}</td>
		</tr>
	{END searchCtrlBlock}
	</table>
	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
